<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">

    <appender name="default.console" class="org.apache.log4j.ConsoleAppender">
        <param name="target" value="System.out"/>
        <param name="threshold" value="debug" />
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d %-5p [%c{1}] %m %n "/>
        </layout>
    </appender>  
    <appender name="default.file" class="org.apache.log4j.FileAppender">
        <param name="file" value="log.out"/>
        <param name="threshold" value="debug" />
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d{dd MMM yyyy HH:mm:ss,SSS} %-5p [%c{1}] %m %n" />
        </layout>
    </appender>  
    <!--Root logger-->
    <logger name="fi.helsinki.cs.OKKoPaLogger" additivity="false">
        <level value="info"/>
        <appender-ref ref="default.file"/>
    </logger>
    <root>
        <priority value ="warn" />
        <appender-ref ref="default.console" />
        <appender-ref ref="default.file" />
    </root>

</log4j:configuration>  
