<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>

    <!-- passwords -->
    <entry key="mail.smtp.password"></entry>
    <entry key="mail.imap.password"></entry>
     
    <!-- smtp-settings -->
    <entry key="mail.smtp.auth">true</entry>
    <entry key="mail.smtp.starttls.enable">true</entry>
    <entry key="mail.smtp.host">smtp.gmail.com</entry>
    <entry key="mail.smtp.port">587</entry>
    <entry key="mail.smtp.user">okkopa2.2013@gmail.com</entry> 
    
    <!-- imap-settings -->
    <entry key="mail.imap.host">imap.googlemail.com</entry>  
    <entry key="mail.imap.port">993</entry>
    <entry key="mail.imap.user">okkopa2.2013@gmail.com</entry>
    <entry key="mail.imap.processed.keepdays">30</entry>
    <entry key="mail.imap.processed.name">processed</entry>
    
    <!-- Message settings -->
    
    <!-- Don't use tabs in "mail.message.body" unless
         you want them to appear in e-mails. -->
    <entry key="mail.message.body">
Sähköpostin sisältö tähän.
Mitenhän toimii monen rivin postit?
Näemmä hyvin.
    </entry>
    <entry key="mail.message.topic">Sähköpostin otsikko tähän</entry>
    <entry key="mail.message.replyto">okkopa2.2013@gmail.com</entry>
    <entry key="mail.message.attachmentname">liite.pdf</entry>
     
    <!-- Database settings -->
    <!-- Url without .h2.db in the end. -->
    <entry key="database.h2.url">jdbc:h2:okkopa</entry>
    <entry key="database.h2.user">okkopa</entry>
    
    <!-- Oracle settings (Kurki) -->
    <entry key="database.oracle.host">bodbacka.cs.helsinki.fi</entry>
    <entry key="database.oracle.user">tk_testi</entry>
    <entry key="database.oracle.port">1521</entry>
    <entry key="database.oracle.instance">test</entry>
    <entry key="database.oracle.showcoursesforyears">5</entry>
    
    <!-- Ldap settings -->
    <entry key="ldap.user">ou=tikli,ou=login,o=hy</entry>
    <entry key="ldap.password"></entry>
    <entry key="ldap.keystore.file">src/main/resources/keystore</entry>
    <entry key="ldap.keystore.secret">okkopa2013</entry>
    <entry key="ldap.server.address">ldap-internal.it.helsinki.fi</entry>
    <entry key="ldap.server.port">636</entry>

    <!-- Other settings -->     
    <entry key="tikli.enable">true</entry>
    <entry key="main.minutesbetweenruns">1</entry>
    <entry key="reference.anonymous.size">9</entry>

    <!-- Exception handling -->
    <entry key="mail.deletemailswithoutattachment">false</entry>
    
    <!-- Save exam papers with unreadable qr-codes. -->
    <entry key="exampaper.saveunreadable">true</entry>
    <entry key="exampaper.saveunreadablefolder">errorpdfs</entry>
    <entry key="exampaper.deleteunreadableafterdays">14</entry>

    <!-- Time after which email send is not retried and file will be deleted. -->
    <entry key="mail.send.retryexpirationminutes">1</entry>
    <entry key="mail.send.retrysavefolder">retrypdfs</entry>
     
    <entry key="tikli.retryattempts">1</entry>
    <entry key="tikli.retrydealyinminutes">1</entry>
     
    <entry key="logger.logcompletestack">false</entry>
     
</properties>